<section>
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Cartao</li>
      </ol>
    </div>
    <div id="slider-carousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item active">
          <div class="col-sm-6">
            <h1><span>CARTÃO DE VISITA</span></h1>
            <p>- Invista na melhor impressão que o cliente terá da sua marca<br> - Mantenha seus contatos sempre disponíveis
              e próximos do público<br> - A divulgação mais rápida e eficiente para a sua marca</p>
            <span>A partir de</span>
            <span>R$ 10,99</span>
            <span class="unidade">/ 100 un.</span>
            <span>
          Na próxima tela você pode configurar as especificações do seu produto e conferir o preço
        </span><br>
            <!-- <button type="button" class="btn btn-default get">CONFIGURE AQUI</button> -->
            <a class="btn btn-info" routerLink="/config-cartao" >CONFIGURE AQUI</a>
          </div>
          <div class="col-sm-6">
            <img src="assets/images/home/cartao-visita.jpg" class="girl img-responsive" alt="">
            <img src="assets/images/home/pricing.png" class="pricing" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
</section>