<div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
                <li><a href="Cartao.html">Cartao</a></li>
        <li class="active">Configurar</li>
      </ol>
    </div>
      <div id="contact-page" class="container" align="center">
          <div>
                 <span>
  <h2 class="productinfo">ESCOLHA A FORMA DE CRIAR SEU PRODUTO: CARTÃO DE VISITA</h2>
</span>
          </div>
          <div>
               &nbsp;
          </div>
          <div class="alert-info btn-group-justified  fa fa-info-circle">
        Nesta opção você pode encontrar três formas de criação e envio da sua arte. Elas podem mudar de acordo com o produto escolhido. Selecione a maneira como deseja criar seu material para que os próximos passos sejam disponibilizados.
      </div>  
  <section>
            <div> 
            <img src="/assets/images/home/bgbarra.jpg" width="370" height="2"> </div>
  </section>
          <form action="#" method="post">			
        <div class="col-sm-4"><!--features_items-->
          
                  <div class="modal-content">
                    <img src="/assets/images/home/Enviar.jpg" alt="" width="230">
                      <div class="brands_products">
                      <h4 class="brands_products"><input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')">
Enviar minha arte</h4>
                    </div>
                  </div>
        </div>
        <div class="col-sm-4">
                  <div class="modal-content">
                    <img src="/assets/images/home/online.jpg" alt="">
                      <div class="brands_products">
                      <h4 class="brands_products"><input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')">
Criar On-line</h4>
                    </div>
                  </div>
        </div>					
        <div class="col-sm-4">					
                  <div class="modal-content">
                    <img src="/assets/images/home/Cdesinger.jpg" alt="">
                      <div class="brands_products">
                      <h4 class="brands_products"><input type="checkbox" name="check1" id="check1" onclick="nuevapagina('contrato.html')">
Contratar Criação</h4>
                    </div>
                  </div>
          </div>
        
        </form>
</div></div>

<br>
<br>
<br>